/* Setting the height of the document to 100% so that catalogues (sidebar-left) height can be set to 100% */
html, body{
	height: 100% !important;
	margin: 0;
	/* overflow: hidden; */
}

/* Responsive height for the headers and for the sidebar/canvas */
/* Headers need more styling in order to be properly responsive */
#header, #toolbar{
	height: 4% !important;
}
#sidebar, #main {
	height: 96% !important;
}

/* Remove the underline for all anchor elements */
a {
	text-decoration: none !important;
}

/* Header */
#headerCol {
	background-color: #fff;/*#3b3b3a;*/
	height: 100%;
}

.logo {
	margin: 1px 5px 1px 5px;
}

.header-line{
	border: 2px solid #dfdfde; /*#249cd3;*/
	/*border-radius: 5px;*/
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}

/* Toolbar */
#toolbarCol{
	height: 100%;
}
#toolbar {
	background-color: #fff;/*#3b3b3a;*/
	/* width: 100%; */
	height: 40px;
	
}

.toolbar-vertical-divider {
	border-left: 2px solid #ccc;
	margin: 1px 10px 1px 10px;
}

li.nav-item {
	list-style: none;
	
}

.layouts-btn {
	padding: 3px 3px 3px 3px !important;
	color: black;
	background-color: #fff !important;
}

.layouts-btn:hover {
	color: black !important;
	background-color: #bbb !important;
}

.layouts-btn:active {
	color: #249cd3 !important;
	background-color: #d5e6ff !important;
}

.layouts-btn-toggled{
	color: #249cd3 !important;
	background-color: #d5e6ff !important;
}

.layouts-btn-toggled:hover {
	color: #249cd3 !important;
	background-color: #d5e6ff !important;
}  

.layout-btn:hover {
	background-color: #bbb !important;
}

.layout-btn:active {
	background-color: #d5e6ff !important;
}

.dropdown-menu {
	min-width: 5rem !important;
}

.layout-selection-img {
	margin: 5px 0 5px 0;
}

/* Modal */
.roomLayout{
	background-color: #249cd3 !important;
}

.modal-header {
	background-color: #249cd3;
	border-bottom: 0 none;
	color: #fff;
}
.modal-body {
	background-color: #fff;
}
.modal-footer {
	background-color: #fff;
	/* border-top: 0 none; */
}
  
.toolbar-btn {
	margin: 0 2px 0 2px;
	padding: 3px 3px 3px 3px !important;
	color: black;
	background-color: #fff !important;
}

.toolbar-btn:hover {
	color: black !important;
	background-color: #bbb !important;
}

.toolbar-btn:active {
	color: #249cd3 !important;
	background-color: #d5e6ff !important;
}

.toolbar-btn-group {
	padding: 0 0 0 0  !important;
	margin: 1px 0 1px 0 !important;
	user-select: none;
	
}

.span-toolbar-layouts {
	margin: 1px 2px 1px 2px;
}

.span-toolbar-btns {
	margin: 4px 2px 4px 2px;
	padding: 0 0 0 0;
}

.btn-sp-disabled{
	display: none !important;
}

.spinner-sp-disabled{
	display: none;
}

.spinner-sp-enabled{
	display: visible !important;
	/* display: inline-block; */
}

/* SIDEBAR (Product dimensions and catalogue)*/
#sidebar-left{
    color: white;
    min-height: 100%;
    height: auto;
    width:20%;
	background-color: #f7f9fc; /*#3b3b3a;*/
	border-right: 3px solid #3b3b3a;
}

/* Product dimensions */
.dimensions {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	color: black;
	font-size: 15px;
	background-color: #eeeeee;
	/*border-top: 2px solid #dfdfde; /*#249cd3;*/
	border-bottom: 2px solid #dfdfde; /*#249cd3;*/
}

.product-info-formatting {
	margin: 1px 0 1px 0;
}

.product-name-field {
	background-color: #f9f9f9;
	margin: 0 8px 0 8px;
	padding: 0 5px 0 5px;
	width: 40% !important;
	border: 1px solid #e9e9e9;
}
.dimensions-field {
	background-color: #f9f9f9;
	margin: 0 8px 0 8px;
	padding: 0 3px 0 3px;
	width: 15% !important;
	text-align: center;
	border: 1px solid #e9e9e9;
}

/* Catalogue */
.loading-catalogue {
	display: none;
	padding: 10px 0 10px 0 !important;
	background-color: #249cd3;
	border-radius: 5px;
	justify-content: center;
}

.loading-catalogue-visible {
	display: flex !important;
}

.list-group, .list-group-item {
	background-color: #249cd3 !important; 
}

.list-group:hover, .list-group-item:hover {
	background-color: #1b729b !important; 
}

.manufacturer {}
.manufacturer:active {
	background-color: #13435a !important;
}
.productType {
	background-color: #bbb !important;
	color: #222 !important;

}

.productTypeSpan {
	padding-left: 15px;
}
.product {
	background-color: #fff !important; 

}

.product-container {
	margin: 0 3px 0 3px;
	display:inline-block;
}

.product-div {
	/* text-align: center !important; */
	display:block;
}

.image-div {
	margin: 0 2px 0 2px;
	justify-content: left;
	display:block;
}

.product:hover {
	background-color: #fff !important;
	text-decoration: none !important;
}

.just-padding {
	padding: 15px;
}
  
.list-group.list-group-root {
	padding: 0;
	/* overflow: hidden; */
	
}
  
.list-group.list-group-root .list-group {
	margin-bottom: 0;
}
  
.list-group.list-group-root .list-group-item {
	border-radius: 0;
	border-width: 1px 0 0 0;
}
  
/* Formatting for the first element of the list (i.e. Universal catalogue) */
.list-group.list-group-root > .list-group-item:first-child {
	border-top-width: 0;
}

.list-group-item:first-child{
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}
.list-group-item:nth-last-child(2){
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}
  
/* Product Type formatting */
.list-group.list-group-root > .list-group > .list-group-item {
	padding-left: 20px;
	
}

/* Manufacturer catalog > Product Type catalog > first product type element */
.list-group > .list-group > .list-group-item:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.list-group > .list-group > .list-group-item:nth-last-child(2) {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
  
/* Products formatting */
.list-group.list-group-root > .list-group > .list-group > .list-group-item {
	padding-left: 30px;
}


/* Canvas */
#main {
	height: 100% !important;
	border-left: 1px solid black;
}

